name: Check

on:
  push:
    branches: [main]
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Evaluate flake outputs
        run: |
          nix eval .#formatter --apply builtins.seq --json > /dev/null
          nix eval .#devShells --apply builtins.seq --json > /dev/null

      - name: Check formatting
        run: nix build .#checks.x86_64-linux.formatting --no-link
