name: Check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check flake evaluates
        run: nix flake check --no-build --all-systems

      - name: Check formatting
        run: nix build .#checks.x86_64-linux.formatting --no-link
